body {
    background-color: slategrey;
    color:lavenderblush;
    font-family: Georgia, 'Times New Roman', Times, serif
}

h1,h2,p {
    text-align: center;
}

ul {
    font-size: 22px;
}

div {
    width: 1300px;
    margin: 50px auto;
}

.recipes {
    display: inline-block;
}

img {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
}

.index {
    width: 400px;
    height: 400px;
}